// NEUTROS
$black: #0A151F;
$white: #FFFFFF;
$white50: #ffffff5d;

$grey: #ECECEC;
$darkGrey: #333333 ;


$blackPure: #000000;
$whitePure: #ffffff;

// PRIMARIO
$primary: #0761D1;
$primary50: #32597171;

// SECUNDARIO
$secondary: #ADDAFF;
$secondary50: #addaff73;
$secondaryStrong: #3BAAFF;

// TERCIARIO
$tertiary: #1d1e1e17;

// ACENTO
$accent: #E63746;
$accent80: #e63746c7;
$accent50: #e637467a;



// heading
$colorH: #071421;
// TEXT
$colorTxt: #071421;

// BACKGROUND
$colorBg: #FFFFFF;


// ---------------


/* MODO OSCURO */

// PRIMARIO
$primaryDarkmode: #8EB5CD;

// SECUNDARIO
$secondaryDarkmode: #0B1B1E;

// TERCIARIO
$tertiaryDarkmode: #0B1B1E;

// ACENTO
$accentDarkmode: #ED5E6A;



// TEXT
$colorTxtDarkmode: #e0ebf5de;

// BACKGROUND
$colorBgDarkmode: #E0EBF5;


$primary-gradient: linear-gradient(to top, #325971, #ffffff);