// NEUTROS
$black: #0A151F;
$white: #FFFFFF;
$white50: #ffffff5d;

$blackPure: #000000;
$whitePure: #ffffff;

// PRIMARIO
$primary: #325971;
$primary50: #32597171;

// SECUNDARIO
$secondary: #E2F2F4;
$secondary50: #e2f2f462;
$secondaryStrong: #87d3dd;

// TERCIARIO
$tertiary: #1d1e1e17;

// ACENTO
$accent: #E63746;
$accent80: #e63746c7;
$accent50: #e637467a;



// heading
$colorH: #0A151F;
// TEXT
$colorTxt: #0A151F;

// BACKGROUND
$colorBg: #FFFFFF;


// ---------------


/* MODO OSCURO */

// PRIMARIO
$primaryDarkmode: #8EB5CD;

// SECUNDARIO
$secondaryDarkmode: #0B1B1E;

// TERCIARIO
$tertiaryDarkmode: #0B1B1E;

// ACENTO
$accentDarkmode: #ED5E6A;



// TEXT
$colorTxtDarkmode: #e0ebf5de;

// BACKGROUND
$colorBgDarkmode: #E0EBF5;


$primary-gradient: linear-gradient(to top, #325971, #ffffff);