
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{ font-size: 62.5% /* para que 1rem sean 10px */}

// COLORES
@import './colors.scss';

// FUENTES
@import './fonts.scss';

// UTILIDADES
@import './utilities.scss';

// GENERAL
@import './general.scss';

// ANIMACIONES
@import './animations.scss';



// HEADER
@import './components/Header/Header.scss';
@import './components/Header/Hamburguer.scss';
@import './components/Header/Dashboard.scss';

// FOOTER
@import './components/Footer/Footer.scss';



////// COMPONENTES //////


// BUTTON
@import './components/Buttons/Button.scss';

// CARDS
@import './components/Cards/Card.scss';
@import './components/Cards/CardSquare.scss';
@import './components/Cards/CardTestimonial.scss';

// DIVISOR
@import './components/Divisor/Divisor.scss';

// CARROUSEL
@import './components/Carrousel/Carrousel.scss';




////// SECCIONES //////

// HERO
@import './components/Hero/Hero.scss';
@import './components/Hero/Hero2.scss';

// ABOUT
@import './components/About/About.scss';

// CONTACT
@import './components/Contact/Contact.scss';


// SECTION 2
@import './components/Sections/Section2.scss';
@import './components/Sections/TestimonialSection.scss';
