.card{
    @include margin15;
    aspect-ratio: 3/4;
    width: 100%;
    max-width: 300px;
    background-color: $secondary;
    .card-img{
        aspect-ratio: 1/1;
        background-color: $colorBg;
        @include margin10;
    }

    .card-txt{
        @include margin10;

    }
}