.about-container{
    @include container;
    .about{
        @include div-width;
        
        .about-content{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}
